*.zip
**/__pycache__/
boxoffice/db/data/*.sqlite
boxoffice/db/data/movies.csv
boxoffice/db/data/data.sqlite-shm
boxoffice/db/data/data.sqlite-wal
boxoffice/scrape/daily_html/*
boxoffice/scrape/detail_html/*
boxoffice/scrape/metacritic/*
venv/*
